<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>
	<link rel="stylesheet" type="text/css" href="style.css">
	<title>Truffle Shuffle</title>
  </head>
  <body>
  		<div id="title">
			<h1>Truffle Shuffle<br>
			<!--<i style="font-size:80%" class="fa fa-cutlery"></i><i class="fa fa-bicycle"></i><i class="fa fa-child"></i>-->
			</h1>
		</div>
    <div class="container">
      <div class="jumbotron">
        <h2>Welcome to Truffle Shuffle!</h2>
		<div id="foodPic"></div>
        <p>Hungry but don't feel like leaving your house? Do you have time to kill and want to make some money?<br>
		Truffle Shuffle is a peer-to-peer food delivery platform where you can both get food delivered
		at a low price, and deliver food to another person at your own charges! Let's get started!
		</p>
        <p><a href="/login" class="btn btn-primary">Login</a><a href="/register" class="btn btn-primary">Register</a></p>
      </div>
    </div>
  </body>
</html>