
<html>
  <head>
    <title>Open Requests</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Open Requests</h1>
        <p>If you're in the area, chose one to fulfill</p>
        <table>
        </table>
      </div>
    </div>
  </body>
</html>