<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.js"></script>
	<script type="text/javascript" src="animation.js"></script>    
	<script src="http://connect.soundcloud.com/sdk.js"></script>
	<script type="text/javascript" src="thejspart.js"></script>
    <script src="open_requests.js"></script>
	<title>Open requests - Truffle Shuffle</title>
</head>
<body>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12" id="title">
            <h1><a href="/">Truffle Shuffle</a><br>
            <!--<i style="font-size:80%" class="fa fa-cutlery"></i><i class="fa fa-bicycle"></i><i class="fa fa-child"></i>--></h1>
        </div>
    </div>
    <div class="container">
        <div class="jumbotron-requests col-lg-12 col-md-12 col-sm-12">
            <div class="jumbotron" style="min-height:0">
                <div class="row col-lg-12 col-md-12 col-sm-12" id="topbar">
                    <div class="topbar-content">
                        <ul>
                            <li>
                                <a href="/open_requests">Open Requests</a>
                            </li>
                            <li>
                                <a href="/submit_request">Request Delivery</a>
                            </li>
                            <li>
                                <a href="/track_request">Track Request</a>
                            </li>
                            <li>
                                <a href="/restaurants">Restaurants' Info</a>
                            </li>
                        </ul>
                    </div>
                </div>
				<div id="openRequestsDiv">
                <div class="row col-lg-12 col-md-12 col-sm-12">
                    <h1 id="openRequests-title">Open Requests</h1>
                    <p style="font-size:20px">If you're in the area, chose a
                    request to fulfill</p>
                </div>
                <div class="row col-lg-12 col-md-12 col-sm-12">
                    <table id="openRequests">
                        <tr>
							<thead>
                            <th style="text-align:center;">Requester</th>
                            <th style="text-align:center;">Restaurant
                            Requested</th>
                            <th style="text-align:center;">Order Details</th>
                            <th style="text-align:center; font-weight:bold;">
                            Delivery Address</th>
                            <th style="text-align:center;">Pickup</th>
							</thead>
                        </tr>
                    </table>
                </div>
				</div>
            </div>
        </div>
    </div>
	<footer>
		 <div class="row col-lg-12 col-md-12 col-sm-hidden" id="truffleShuffleBoy">
		<h1><i class="fa fa-hashtag"></i>UNCTruffleShuffle</h1>
		</div>
	</footer>
</body>
</html>