@import url('http://fonts.googleapis.com/css?family=Grand+Hotel');
@import url('http://fonts.googleapis.com/css?family=Imprima');


body{
	color: black;
	font-family: 'Imprima', 'Trebuchet MS', sans-serif;
	font-size:20px;
	height: 100%;
	background:#A3C7E1;
	background-image: url("bike.jpg");
	background-attachment: fixed;
}


#title{
	margin-top: -20px;
}

#foodPic{
	background-image: url("food.jpg");
	background-size: cover;
	margin: 40px 0;
	height: 400px;
	width: 100%;
}

.jumbotron{
	margin-bottom: 80px;
	box-shadow: 3px 3px 10px black;

}

.jumbotron img{
	width: 50%;	
	margin-bottom: 30px;
	border-radius: 30px;
}

#title h1{
	font-family: 'Grand Hotel', 'Trebuchet MS', sans-serif;
	text-align: center;
	color: white;
	font-size: 90px;  
	text-shadow: 6px 4px black;
    padding: 35px 25px;
    letter-spacing: 8px;
}

#title h1:hover{
	cursor: pointer;	
	text-shadow: 6px 4px pink;
}


.btn-primary{
	background: linear-gradient(#f6c4a2,pink);
	color: black;
	border: none;
	box-shadow: 2px 2px 5px black;
	margin: 0 10px 0 0;
}

.btn-primary:hover{
	background: linear-gradient(pink,#f6c4a2);
	box-shadow: 2px 2px 3px black;
	color: inherit;
}