
<html>
  <head>
    <title>Nearby Restaurants</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="track_request.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        
        <h1>My Current Requests</h1>
        <table id="mine" style="width:100%" border="solid; 1px">
          <tr>
            <th>Restaurant</th>
            <th>Order Description</th>
            <th>Delivery Address</th>
            <th>Status</th>
            <th>Fulfilled?</th>
          </tr>
        </table>

        <h1>Requests I am Fulfilling</h1>
        <table id="other" style="width:100%" border="solid; 1px">
          <tr>
            <th>Restaurant</th>
            <th>Order Description</th>
            <th>Delivery Address</th>
            <th>Phone Number</th>
            <th>Fulfilled?</th>
          </tr>
        </table>

      </div>
    </div>
  </body>
</html>